* {
    box-sizing: border-box;
}

.container {
    border: 5px solid black;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}

.block {
    border: 1px solid black;
    width: 100%;
}

.hovering {
    background-color: black;
}